<div id="overlay" class="heading">
    <div class="content">
    <h1>All the Latest News</h1>
    <p>Latest news articles from the Washington Post using Mongo scrape technique</p>
    </div>
</div>
<div class="bg"></div>
<div class="container">
<p>This example creates a half page background image. Try to resize the browser window to see how it always will cover 50% of the screen, and that it scales nicely on all screen sizes.</p>

<div id="scraped"> 
      <table id="results">
      <thead>
        <tr>
          <th id="news-headline">Headline</th>
          <th id="news-link">Link to Article</th>
          <th id="news-summary">Summary</th>
       </tr>
      </thead>
      <tbody>
        <!-- Results from DB here -->
      </tbody>
    </table>
    <script src="app.js"></script>

    
</div>
<!--end container div-->
</div>